.header__logo {
  display: flex;
  background-image: url("../../../images/header-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 320px) {
.header__logo {
  min-width: 142px;
  min-height: 42px;
  max-width: 142px;
  max-height: 42px;
}
}

@media screen and (min-width: 321px){
  .header__logo {
    width: 176px;
    height: 52px;
  }
}
