.lead__image {
  display: flex;
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin: 40px 0 0 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__image {
    margin: 56px 0 0 0;
    padding: 0;
    min-width: 768px;
    max-width: 928px;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .lead__image {
    margin: 64px 0 0 0;
    padding: 0;
    min-width: 928px;
    max-width: 984px;
  }
}
