.lead__image {
  display: flex;
}

@media screen and (max-width: 480px) {
  .lead__image {
    margin: 40px 0 0 0;
    padding: 0;
    width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .lead__image {
    margin: 40px 0 0 0;
    padding: 0;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin: 56px 0 0 0;
    padding: 0;
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    margin: 64px 0 0 0;
    padding: 0;
    width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: 64px 0 0 0;
    padding: 0;
    width: 984px;
  }
}
