.intro__text {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin: 37px 16px 0;
    min-width: 288px;
    max-width: 720px;
  }
}

@media screen and (min-width: 768px) {
  .intro__text {
    margin: 40px 3.125vw 0;
    min-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    margin: 40px 0 0;
    max-width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 38px 0 0;
    max-width: 690px;
  }
}
