.cover__background {
  display: grid;
  color: #fff;
  text-decoration: none;
  background: url("../../../images/cover-trains-l.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.cover__background:hover {
  background-image: url("../../../images/cover-trains-d.jpg");
}

@media screen and (max-width: 1280px){
  .cover__background {
    grid-template-columns: 100vw;
    grid-template-rows: 31.25vw 31.25vw;
  }
}

@media screen and (min-width: 1280px){
  .cover__background {
    grid-template-columns: 1184px;
    grid-template-rows: 370px 370px;
  }
}
