.cover__background {
  display: grid;
  position: relative;
  color: #fff;
  text-decoration: none;
  width: 100%;
  background-image: url("../../../images/cover-trains-l.jpg");
  background-size: cover;
  grid-template-columns: minmax(100%, 1184px);
  grid-template-rows: 31.25vw 31.25vw;
  transition: 0.8s;
  z-index: 1;
}

.cover__background:hover {
  background-image: url("../../../images/cover-trains-d.jpg");
}

