.cover__title {
  display: flex;
  font-weight: 900;
  text-align: center;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    min-height: 21.875vw;
    max-width: 90vw;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    min-height: 152px;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}
