.footer {
  display: flex;
  justify-self: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {

  .footer {
    max-width: 1184px;
    justify-content: space-between;
  }
}
