.footer {
  display: flex;
  width: 100%;
  max-width: 1184px;
  justify-self: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {

  .footer {
    justify-content: space-between;
  }
}
